#button{
  background-color: #E09211; 
  outline: none;
  border: #E09211;
  box-shadow: none;
}

.colored-text{
  color:#E09211 ;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
